/* strutture generali */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    background-color:#120f0fd1;
    color: white;
}

/* inizio parte fixed speker */

#speaker{
    width: calc(100% - 40px);
    height: 50px;
    display: flex;
    align-items: start;
    background-color: black;
    justify-content: end;
    position: fixed;
    left: 20px;
    top: 0px;
    z-index: 500;
}

#speaker>a{
    margin:5px;
    background-color: gray;
    padding: 3px;
    color: white;
    text-decoration: none;
}


/* barra-comando */
#barra-comando{
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #120f0f0d;
}

/* display della barra di comando */
/* caratteristiche items */

.items-sinistra, .items-centro{
    display: flex;
    text-align: center;
    align-items: center;
}

.items-sinistra>div{
    display: flex;
    align-items: center;
}

.items-centro>div, .items-sinistra>div{
    margin-right: 10px;
}

.items-destra{
    background-color: grey;
    color: red;
    height: 100%;
    line-height: 70px;
    padding: 0 10px;
}

.items-sinistra, .items-destra{
    margin: 0 20px;
}

#share-screen i{
    color: green;
}

.tendina i{
    font-size: 10px;
}

/* fine barra comando */

/* inizio telecamere */

#contenitore-telecamere{
    
    height: calc(100% - 50px - 20px);
    overflow-y: auto;
    margin: 0px 20px;
    padding-top: 50px;
    background-color: black;
}

/* sezione telecamere */

.telecamere{
    padding: 10px 30px;
    display: flex;
    width: 100%;
    height: calc(100% / 5);
}


/* caratteristiche camera */
.camera{
    width: calc(100% / 7 - 20px);
    margin: 0 10px;
    position: relative;
    background-image: url(https://picsum.photos/id/237/200/300);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.camera img{
    width: 100%;
    display: block;
}

.nome-persona{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.41);
    left: 0px;
    bottom: 0px;
    color: white;
}

.sotto-contenitore{
    height: calc(100% - 70px);
}
